body{
    background-color: bisque;
    font-family: sans-serif

}
.current{
    color:red;
}
a{
    text-decoration: none;
    background-color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 1rem 1rem 1rem #00000088
}
